<?xml version="1.0" encoding="UTF-8"?>
<phpunit bootstrap="vendor/autoload.php"
         colors="true"
         verbose="true">

    <!-- The default testsuite -->
    <testsuites>
        <testsuite name="default">
            <directory suffix="Test.php">tests/Integration</directory>
            <directory suffix="Test.php">tests/Unit</directory>
        </testsuite>
    </testsuites>

    <!-- Coverage configuration (optional) -->
    <coverage processUncoveredFiles="true">
        <include>
            <directory suffix=".php">src</directory>
        </include>
        <report>
            <clover outputFile="build/logs/clover.xml"/>
            <html outputDirectory="build/coverage/html"/>
            <text outputFile="php://stdout"/>
        </report>
    </coverage>
</phpunit>
